<div class="container">
	<div class="header-text">
		<h1>Welcome to BrushUp</h1>
		<h2>What would you like to learn today?</h2><br>
	</div>
		<div class="divider">
	</div>
	<div class="row">
		<button href="#"> <span>Search</span></button>
<!-- upload tag -->
<%= form_for @upload do |f| %>
	<p>
		<%= f.text_field :title, :placeholder => "image title" %>
	</p>
	<p>	
		<%= f.file_field :picture %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<!-- display image -->
<% @uploads.each do |upload| %>
<div>
	<h3><%= upload.title  %></h3>
	<%= cl_image_tag(upload.cloud_id, :width => 500) %>

<% end %>