<div class="m_container">
  <div class="header-text">
    <img src="<%= asset_path( 'brushup_logo1.png' ) %>" />

About this conversation


    <!-- <a href="/assets/test.jpg" class="fresco">Fresco jQuery Test</a> -->
    <h2>What would you like to learn today?</h2><br>
  </div>
 
  <% if @current_user === nil%>
    <%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
  <% end %>

<%= form_tag(lessons_path, :method => "get", :url => "lessons_path", id: "search-form") do %><%= text_field_tag :query %>
<%= submit_tag "Search", class: 'btn btn-primary' %>
<% end %>