<%= @current_user.name %>

<%  @response.each do |video| %>
<div class="container">
  <h3><%= video.title %></h3> 
  <img src="<%= video.thumbnail_medium %>"/>
  <br />

  <p>
    <%= form_for :video, :url => {:action => "new"}, :html => {:method => "GET"} do |f| %>
      <%= f.hidden_field :id, :value => video.video_id %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.submit class: 'btn btn-primary'%>
    <% end %>
  </p>

  <p><%= link_to '+ Preview', lessons_path, class: 'btn btn-primary', id: 'add_btn' %></p>
</div>

<% end  %>