<%  @response.each do |video| %>
<div class="container">
  <h3><%= video.title %></h3> 
  <img src="<%= video.thumbnail_medium %>"/>
  <br />

  <p>
    <%= form_for :video, :url => {:action => "new"}, :html => {:method => "GET"} do |f| %>
      <%= f.hidden_field :id, :value => video.video_id %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.submit class: 'btn btn-primary'%>
    <% end %>
  </p>


  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" button data-target="modal1" href="#modal1">View Intro Video</a>

  <!-- Modal Structure -->
  <div id="modal1">
   <div class="modal-content">
     <h4>Modal Header</h4>
     <p><div class="video-container">
<iframe width="1102" height="620" src="https://www.youtube.com/watch/<%= video.video_id %>" frameborder="0" allowfullscreen></iframe>
</div></p>
   </div>
   <div class="modal-footer">
     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
   </div>
  </div>


</div>

<% end  %>