

<%  @response.each do |video| %>
<div class="container">
  <h3><%= video.title %></h3> 
  <img src="<%= video.thumbnail_medium %>"/>
  <br />

  <p>
    <%= form_for :video, :url => {:action => "new"}, :html => {:method => "GET"} do |f| %>
      <%= f.hidden_field :id, :value => video.video_id %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.submit class: 'btn btn-primary'%>
    <% end %>
  </p>

<a href="https://www.youtube.com/embed/<%= video.video_id %>" class="fresco">Preview</a>
</div>

<% end  %>